<div class="row">
  <div class="large-3 columns">
    <div class="row followee">
      <h2><%= @user.name %></h2>
    </div>
    <div class="row followee">
      <%= link_to "Log out", logout_path, class: 'right', id: 'logout' %>
    </div>
  </div>

  <div class="large-5 large-offset-1 columns end">
    <div class="row followee">
      <h2>Who's Chatty?</h2>
    </div>
    <%= render partial: 'followee', collection: @followees %>
  </div>
</div>
