$light-gray: #e1e8ed;
$dark-gray: #8899a6;
$black: #66757f;

body {
  background-image: asset_url('congruent_outline.png');
}

.alert-box {
  margin-top: 20px;
}

.button {
  color: $black;
  background-color: $light-gray;

  &:hover {
    color: $light-gray;
    background-color: $black;
  }
}
a#logout {
  font-size: 18px;
  color: $dark-gray;

  &:hover {
    color: $light-gray;
  }
}

.followee {
  background-color: #fff;
  border-bottom: 1px solid $light-gray;
  font-family: 'Gotham Narrow SSm';
  padding: 8px;

  &:first-child {
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
    padding: 12px;
  }

  &:last-child {
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
  }

  h2 {
    color: $black;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
  }

  img {
    border-radius: 5px;
    margin-top: 3px;
  }

  .full-name {
    color: #292f33;
  }

  .screen-name {
    color: $dark-gray;
    font-size: 13px;
    display: block;
    margin-bottom: 8px;
  }

  a {
    color: $light-gray;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Helvetica Neue';

    &:hover {
      color: #66757f;
    }
  }

  p {
    font-size: 32px;
    font-style: bold;
    margin: 0;
    color: $black;
  }
}
